.section {
    background-color: white;
    border: solid;
    border-color: rgb(177, 177, 177);
    padding: 5px;
    margin: 5px 10%
}

.section__header {
    border-bottom: solid 1px rgb(132, 130, 130);
}

.section__ul {
    padding-inline-start: 0px;
}